<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-1">
        <h1>Benvenuto nel sistema Manage</h1>
        <h2>Il sistema prevede diverse funzioni descritte all'interno delle card elencate di seguito</h2>
    </div>

    <div class="bodyValue d-flex justify-content-between flex-wrap">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-2 mb-4">
            <p-card header="Gestione documenti" subheader="Sezione di riferimento relativo ai documenti" >
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template> -->
                <ng-template pTemplate="body">
                    <p>
                        In questa sezione è possibile effettuare inserimenti, modifiche e cancellazioni di informazioni relative alle documentazioni.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="text-center">
                        <p-button (onClick)="onGoToDocumenti()" label="Vai nella sezione" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-2 mb-4">
            <p-card header="Gestione documenti" subheader="Sezione di riferimento relativo ai documenti" >
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template> -->
                <ng-template pTemplate="body">
                    <p>
                        In questa sezione è possibile effettuare inserimenti, modifiche e cancellazioni di informazioni relative alle documentazioni.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="text-center">
                        <p-button (onClick)="onGoToDocumenti()" label="Vai nella sezione" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-2 mb-4">
            <p-card header="Gestione documenti" subheader="Sezione di riferimento relativo ai documenti" >
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template> -->
                <ng-template pTemplate="body">
                    <p>
                        In questa sezione è possibile effettuare inserimenti, modifiche e cancellazioni di informazioni relative alle documentazioni.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="text-center">
                        <p-button (onClick)="onGoToDocumenti()" label="Vai nella sezione" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-2 mb-4">
            <p-card header="Gestione documenti" subheader="Sezione di riferimento relativo ai documenti" >
                <!-- <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template> -->
                <ng-template pTemplate="body">
                    <p>
                        In questa sezione è possibile effettuare inserimenti, modifiche e cancellazioni di informazioni relative alle documentazioni.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="text-center">
                        <p-button (onClick)="onGoToDocumenti()" label="Vai nella sezione" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>


</div>





